:root {
    --success: #38a169;
    --error: #e53e3e;
    --info: #3182ce;
    --warning: #dd6b20;
    --question: #805ad5;
    --notification-color: #222;
    --notification-close-color: #fff;
    --notification-close-hover: #222;
}

.notification {
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    align-items: center;
    width: fit-content;
    min-width: 50%;
    min-height: 4.6rem;
    transition: 500ms;
    border-radius: .25rem;
}

.notification.center {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.notification.left {
    left: 1rem;
    right: initial;
}

.notification.center.left {
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.notification.top {
    top: 1rem;
    bottom: initial;
}

.notification.center.top {
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.notification.right {
    right: 1rem;
    left: initial;
}

.notification.center.right {
    left: initial;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.notification.bottom {
    bottom: 1rem;
    top: initial;
}

.notification.center.bottom {
    top: initial;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.notification.hidden {
    display: none;
}

.notification.notification-success {
    background-color: var(--success);
}

.notification.notification-error {
    background-color: var(--error);
}

.notification.notification-info {
    background-color: var(--info);
}

.notification.notification-warning {
    background-color: var(--warning);
}

.notification.notification-question {
    background-color: var(--question);
}

.notification .notification-header {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 1.5rem;
}

.notification .notification-message {
    grid-column: span 5 / span 5;
    color: var(--notification-color);
    padding: 0 1rem;
}

.notification .notification-footer {
    display: flex;
    justify-content: center;
    align-content: center;
}

.notification .notification-footer a {
    transition: 500ms;
    color: var(--notification-close-color);
}

.notification .notification-footer a:hover {
    color: var(--notification-close-color-hover);
}

/* ? MD */
@media (min-width: 768px) {
    .notification {
        min-width: 25%;
    }
}


/* ? LG */
@media (min-width: 1024px) {
    /*  */
}


/* ? XL */
@media (min-width: 1200px) {
    /*  */
}